<div class="row">
<div class="col-7 offset-2">
  <div class="card">
    <div class="card-header">
      <h3>Editar Producto</h3>
    </div>
    <div class="card-body text-white">
      <div class="form-group">
        <form >
          <label for="idInput">ID</label>
          <input disabled [(ngModel)]="producto.id" [ngModelOptions]="{standalone: true}" class="form-control" type="text" id="idInput">
        </form>
      </div>
      <div class="form-group">
        <form >
          <label for="nombreInput">NOMBRE</label>
          <input [(ngModel)]="producto.nombre" [ngModelOptions]="{standalone: true}" class="form-control" type="text" id="nombreInput">
        </form>
      </div>
      <div class="form-group">
        <form >
          <label for="valorInput">VALOR</label>
          <input [(ngModel)]="producto.valor" [ngModelOptions]="{standalone: true}" class="form-control" type="number" id="valorInput">
        </form>
      </div>
      <div class="form-group">
        <form >
          <label for="existInput">EXISTENCIAS</label>
          <input [(ngModel)]="producto.existencias" [ngModelOptions]="{standalone: true}" class="form-control" type="number" id="existInput">
        </form>
      </div>
      <div class="form-group">
        <form >
          <label for="abastInput">BALANCE DEL PRODUCTO</label>
          <input [(ngModel)]="producto.balance" [ngModelOptions]="{standalone: true}" class="form-control" type="number" id="abastInput">
        </form>
      </div>
      <div>
        <button id="botonActualizar" (click)="actualizar()" class="btn btn-warning">Actualizar</button>
      </div>
    </div>
  </div>
</div>
</div>
